.announcementsWrapper {
  /* border: 2px solid black; */
  margin-bottom: 12%;
  background-color: #f8f9fa;
}
.headingcolor {
  color: #f7941d;
  background-color: #002f5f;
  text-align: center;
  overflow-x: auto;
}
.thislinkcolor {
  color: #002f5f;
  font-size: 15px;
  overflow-x: auto;
  /* padding-left: 8%;
  padding-right: 0%; */
}

a.thislinkcolor:hover {
  color: #f7941d;
}
