.primaryBackground {
  background-color: #002f5f;
  color: white;
}

.alphaColor {
  color: #f7cd00;
}
.footerMainDiv {
  padding: 1%;
  padding-top: 3%;
}

a.footerLink {
  color: white;
}

a.footerLink:hover {
  color: #f7941d;
  text-decoration: underline;
}

.fontsize {
  font-size: 15px;
}

.pad {
  padding-left: 10%;
}
