.bckgrndcolor {
  background-color: #002f5f;
}
.backgroundcolor {
  background-color: #e1e6ea;
}
.pad2 {
  padding-right: 7%;
  padding-left: 7%;
  padding-bottom: 6%;
}
.pad1 {
  padding-top: 6%;
  padding-bottom: 1%;
}

.HeadText {
  color: #f7941d;
}
.pText {
  color: white;
  font-size: 15px;
  /* text-align: left; */
}
.howeworkWrapper {
  /* border: 2px solid green; */
  margin-bottom: 9%;
}
