.imagegallery {
  /* border: 2px solid red; */
  /* background-color: white; */
}
.maindiv {
  /* background-color: #e1e6ea; */
}
.border1 {
  border: 2px solid red;
}
.border2 {
  border: 2 px solid black;
}
.border3 {
  border: 2px solid orange;
}
.one {
  border: 2px solid red;
}
