.navbar {
  padding: 0%;
  /* overflow: auto; */
}
.liststyle {
  float: right;
}
.tertiaryColor {
  color: white;
}

.navbar-default {
  background-color: white;
}

.logofontcolor {
  color: #002f5f;
  font-size: larger;
  /* font-family: "Abril Fatface", cursive; */
  font-family: "Oswald", sans-serif;
}

.dropdownbckgrnd {
  background-color: white;
  color: #002f5f;
}
.primarytextcolor {
  color: black;
}
.navbar-brand-fontsize {
  font-size: large;
}

.navDropdownLinks {
  color: #002f5f;
  border-bottom: 0.1px solid #f4f4f4;
}
a.navDropdownLinks:active {
  color: white;
  background-color: #002f5f;
}
a.navDropdownLinks:hover {
  color: #f7941d;
  border-bottom: 0.1px solid #f7941d;
}
a.onlinkHover:hover {
  color: #f7941d;
  /* text-decoration: none; */
}

.navbar-nav .nav-item .nav-link {
  color: #002f5f;
}
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
  color: #f7941d;
  border-bottom: 2px solid #f7941d;
}
