.eventsWrapper {
  /* border: 2px solid brown; */
  margin-bottom: 15%;
  background-color: #f8f9fa;
}
.headcolor {
  color: #f7941d;
  background-color: #002f5f;

  text-align: center;
  overflow-x: auto;
}
.brder {
  border: 0.1px solid #e30514;
}
.linkcolor {
  color: #002f5f;
  font-size: 15px;
  overflow-x: auto;
  /* padding-left: 8%;
  padding-right: 0%; */
  /* margin-left: 0px; */
}
a.linkcolor:hover {
  color: #f7941d;
}
.linksdiv {
  overflow-x: auto;
}
.afont {
  font-size: 15px;
}

.datecolor {
  color: #f7941d;
}

.datecolor:hover {
  color: #002f5f;
}
