.h5font {
  color: #002f5f;
}
.fontsize {
  font-size: 15px;
}
.btnfontsize {
  font-size: 19px;
}
.btn:hover {
  background-color: #002f5f;
  color: white;
}
.ppad {
  padding-right: 15px;
}
.imgpad {
  padding-right: 20px;
}
/* .ar1 {
  padding-top: 0%;    
} */
.learnMorebtn {
  background-color: #f7941d;
  color: 002f5f;
  margin-top: 3%;
  font-size: 15px;
}
