.welcomewrapper {
  padding-top: 0%;
  margin-top: 0%;
  /* border: 2px solid red; */
  margin-bottom: 12%;
}
.h5font {
  color: #002f5f;
}
.fontsize {
  font-size: 15px;
}

.btn:hover {
  background-color: #002f5f;
  color: white;
}
.ppad {
  padding-right: 15px;
}
.imgpad {
  padding-right: 20px;
}

.learnMorebtn {
  background-color: #f7941d;
  color: #002f5f;
  margin-top: 3%;
  margin-bottom: 13%;
  font-size: 19px;
}
